services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin # changeme 
      MONGO_INITDB_ROOT_PASSWORD: password # changeme
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: